body {
  font-family: Arial;
}

.card {
  font-family: Arial;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  max-width: 200px;
  min-width: 150px;
  display: inline-block;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.164);
  cursor: pointer;
  transition: background-color 0.19s, transform 0.5s ease;
}

.card:hover {
  background-color: hsl(0, 0%, 99%);
  transform: rotate(1deg) scale(1.01);
}

.card:active {
  transform: rotate(0deg);
}

.card img {
  max-width: 60%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.466);
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.7s ease;
}

.card h2 {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.767);
  margin: 0;
}

.card p {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.61);
}

.card img:hover {
  transform: rotate(10deg) scale(1.03);
}

.card button {
  font-family: Arial;
  font-size: 16px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.288);
  padding: 4px 12px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}

.card button:hover {
  background-color: black;
  color: white;
}

.student-div {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
}

.student-div p {
  font-family: Arial;
  color: rgb(54, 54, 54);
  margin: 2px;
}

.welcome-msg {
  margin: 0;
  background-color: greenyellow;
  padding: 5px 8px;
}

.login-prompt {
  margin: 0;
  background-color: rgb(255, 0, 0);
  padding: 5px 8px;
  border-radius: 8px;
}

.category-list {
  font-size: 2em;
  text-align: center;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.732);
  background-color: rgb(187, 255, 2);
  border-radius: 5px;
  margin: 10px;
}

.itemsList-list li {
  list-style: none;
  text-align: center;
  margin: 3px;
  color: rgba(0, 0, 0, 0.894);
  cursor: pointer;
}

.itemsList-list li:hover {
  color: rgba(0, 0, 0, 0.546);
}

.counter-outter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.counter-body {
  text-align: center;
  align-items: center;
  border: 1px solid rgb(83, 82, 82);
  border-radius: 10px;
  padding-bottom: 10px;
}

.counter-display {
  font-size: 10em;
  margin: 0;
  font-family: Arial, sans-serif;
}

.counter-btn {
  font-size: 1.5em;
  margin: 5px 10px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: rgb(80, 117, 117);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s;
}

.counter-btn:hover {
  background-color: rgba(80, 117, 117, 0.905);
  transform: translateY(-3px);
}