body {
  font-family: Arial;
}

.card {
  font-family: Arial;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  max-width: 200px;
  min-width: 150px;
  display: inline-block;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.164);
  cursor: pointer;
  transition: background-color 0.19s, transform 0.5s ease;
}

.card:hover {
  background-color: hsl(0, 0%, 99%);
  transform: rotate(1deg) scale(1.01);
}

.card:active {
  transform: rotate(0deg);
}

.card img {
  max-width: 60%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.466);
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.7s ease;
}

.card h2 {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.767);
  margin: 0;
}

.card p {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.61);
}

.card img:hover {
  transform: rotate(10deg) scale(1.03);
}

.card button {
  font-family: Arial;
  font-size: 16px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.288);
  padding: 4px 12px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}

.card button:hover {
  background-color: black;
  color: white;
}

.student-div {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
}

.student-div p {
  font-family: Arial;
  color: rgb(54, 54, 54);
  margin: 2px;
}

.welcome-msg {
  margin: 0;
  background-color: greenyellow;
  padding: 5px 8px;
}

.login-prompt {
  margin: 0;
  background-color: rgb(255, 0, 0);
  padding: 5px 8px;
  border-radius: 8px;
}

.category-list {
  font-size: 2em;
  text-align: center;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.732);
  background-color: rgb(187, 255, 2);
  border-radius: 5px;
  margin: 10px;
}

.itemsList-list li {
  list-style: none;
  text-align: center;
  margin: 3px;
  color: rgba(0, 0, 0, 0.894);
  cursor: pointer;
}

.itemsList-list li:hover {
  color: rgba(0, 0, 0, 0.546);
}

.counter-outter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.counter-body {
  text-align: center;
  align-items: center;
  border: 1px solid rgb(83, 82, 82);
  border-radius: 10px;
  padding-bottom: 10px;
}

.counter-display {
  font-size: 10em;
  margin: 0;
  font-family: Arial, sans-serif;
}

.counter-btn {
  font-size: 1.5em;
  margin: 5px 10px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: rgb(80, 117, 117);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s;
}

.counter-btn:hover {
  background-color: rgba(80, 117, 117, 0.905);
  transform: translateY(-3px);
}

.color-picker-container,
.color-picker-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-picker-inner-container {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(97, 97, 97);
  margin: 20px 0px;
  padding: 20px 0px;
}

.color-picker-inner-container h1 {
  font-size: 2rem;
  font-family: Arial;
  margin-top: 0;
}

.display-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  border: 3px solid rgba(110, 109, 109, 0.781);
  border-radius: 10px;
  margin: 0px 20px 20px 20px;
  transition: 0.15s ease;
}

.display-color p {
  font-size: 1.5rem;
  font-family: Arial;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.color-picker-inner-container label {
  font-size: 1.5rem;
  font-family: Arial;
  margin-bottom: 10px;
}

.input-color {
  width: 65px;
  height: 65px;
  padding: 3px;
  border-radius: 5px;
}

.color-picker-inner-container hr {
  width: 345px;
}

.external-to-do-container {
  display: flex;
  justify-content: center;
}

.to-do-container {
  background-color: hsl(203, 85%, 10%);
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
}

.to-do-container h1 {
  font-size: 2.5rem;
  color: white;
}

.to-do-input {
  border-radius: 20px;
  border: none;
  padding: 4px 10px 4px 10px;
  outline: none;
  margin-right: 8px;
  margin-left: 40px;
  font-size: 1.2rem;
  color: rgb(72, 72, 72);
  font-family: Arial;
}

.add-task {
  border: none;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 1.6rem;
  margin-right: 40px;
  font-weight: bolder;
  color: rgb(30, 92, 2);
  background-color: rgb(158, 253, 16);
  cursor: pointer;
  transition: all 0.15s;
}

.add-task:hover {
  background-color: rgb(186, 250, 90);
}

.to-do-container hr {
  border-color: rgb(42, 209, 173);
}

.to-do-task-container {
  margin-top: 20px;
}

.to-do-task-list {
  list-style: none;
  border-radius: 8px;
  text-align: start;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(2, 153, 180);
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgb(12, 219, 255);
}

.to-do-task-list-text {
  flex: 1;
}

.to-do-task-container button {
  border: none;
  border-radius: 4px;
  margin-left: 7px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.15s;
}

.to-do-del-btn {
  background-color: rgb(255, 13, 0);
  color: white;
}

.to-do-up-btn {
  background-color: greenyellow;
}

.to-do-down-btn {
  background-color: rgb(255, 136, 81);
}

.to-do-task-container button:hover {
  opacity: 0.95;
}

.to-do-task-container button:active,
.add-task:active {
  transform: scale(0.98);
}

.clock-outer-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(assets/back-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  font-size: 7rem;
  font-weight: bold;
  color: rgb(248, 248, 248);
  font-family: monospace;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.932);
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  backdrop-filter: blur(6px);
}

@media (max-width: 768px) {
  .clock-container {
    font-size: 15vw;
  }
}

.cont-comp {
  border: 1px solid gray;
  padding: 20px;
}